<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/0530a0e1-4491-40b5-811a-c96060e6f177/resourcegroups/Pasteleriaapi-app-20250227141514ResourceGroup/providers/Microsoft.ContainerRegistry/registries/PasteleriaApi20250227142342</ContainerResourceId>
    <ContainerResourceName>PasteleriaApi20250227142342</ContainerResourceName>
    <Subscription>Azure subscription 1</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>Pasteleriaapi20250227142342.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ContainerName>Pasteleriaapi</ContainerName>
    <EnvironmentName>PasteleriaApi-env-20250227141516</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://Pasteleriaapi-app-20250227141514.wittyisland-191afed3.westeurope.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <IngressTargetPort>8080</IngressTargetPort>
    <ResourceId>/subscriptions/0530a0e1-4491-40b5-811a-c96060e6f177/resourceGroups/Pasteleriaapi-app-20250227141514ResourceGroup/providers/Microsoft.App/containerApps/Pasteleriaapi-app-20250227141514</ResourceId>
    <ResourceGroup>Pasteleriaapi-app-20250227141514ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>AzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>
